.header {
    width: 100vw;
    height: 15vh;
    background-color: #424249;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-title {
    width: 30vw;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#piggy-bank {
    width: 20%;
    height: auto;
}
#app-name {
    color: #FFFDFC;
    font-family: 'Righteous', cursive;
    font-size: 3vw;
}
#budget-total {
    /* border: 1px solid white; */
    width: 20vw;
    font-family: 'Roboto', sans-serif;
    color: #FFFDFC;
    font-size: 1.5vw;
}
.main {
    width: 100vw;
    height: auto;
    background-color: #FFFDFC;
    padding-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}
h3 {
    font-family: 'Righteous', cursive;
    color: #424249;
    font-size: 1.8vw;
}
.monthly-expenses-container {
    width: 25%;
    height: 18vh;
    background-color: #EFE8E1;
    border-radius: 10px;
    padding: 1vw 2.5vh;
    /* display: flex; */
    
}
.add-bill-container {
    width: 25%;
    height: 25vh;
    background-color: #54D2E5;
    border-radius: 10px;
    padding: 1vw 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#add-item {
    border: none;
    width: 90%;
    height: 20%;
    font-family: 'Righteous', cursive;
    color: #FFFDFC;
    font-size: 1.8vw;
    background-color: #424249;
    align-self: center;
}

